
.main {
	height: 800px;
	background-color: pink;
}
.ml {
	margin-top: 100px;
}
.ml1 {
	padding-left: 300px;
}
.padd {
	padding-top: 30px;
}
.padd1 {
	padding-top: 100px;
}
.p {
	font-size: 15px;
}
.ml {
	margin-left: 
}